<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Enquiry Form</h1>
<form action="#" th:action="@{/enquiry}" th:object="${enquiry}" method="post">
    <p>Id : <input type="text" th:field="*{id}" /></p>
    <p>Customer Name : <input type="text" th:field="*{customerName}" /></p>
    <p>Job Type :
    <select>
        <option th:each="jobType : ${T(com.example.demo.model.Enquiry.JobType).values()}"
                th:value="${jobType.name()}"
                th:text="${jobType.displayText}">
        </option>
    </select>
    </p>
    <p>Loan Amount : <input type="number" th:field="*{loanAmount}" /></p>
    <p>Interest Rate : <input type="number" th:field="*{interestRate}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>